In [1]:
import json
file = open('Json2.json','r')
text = file.read()
text = json.loads(text)

In [2]:
text

[{'writer': 'Mark Ross',
  'nationality': 'USA',
  'books': [{'title': 'XML Cookbook', 'price': 23.56},
   {'title': 'Python Fundamentals', 'price': 50.7},
   {'title': 'The NumPy library', 'price': 12.3}]},
 {'writer': 'Barbara Bracket',
  'nationality': 'UK',
  'books': [{'title': 'Java Enterprise', 'price': 28.6},
   {'title': 'HTML5', 'price': 31.35},
   {'title': 'Python for Dummies', 'price': 28.0}]}]

In [6]:
from pandas.io.json import json_normalize

In [10]:
json_normalize(text,'books',['nationality','writer'])

C:\Users\DELL\AppData\Local\Temp\ipykernel_29788\3284362935.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  json_normalize(text,'books',['nationality','writer'])

                 title  price nationality           writer
0         XML Cookbook  23.56         USA        Mark Ross
1  Python Fundamentals  50.70         USA        Mark Ross
2    The NumPy library  12.30         USA        Mark Ross
3      Java Enterprise  28.60          UK  Barbara Bracket
4                HTML5  31.35          UK  Barbara Bracket
5   Python for Dummies  28.00          UK  Barbara Bracket